::-webkit-scrollbar {
  width: 0;
}



img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}



button:active {
  box-shadow: 1px 1px 1px;
}



.main__wheels {
  width: 300px;
  height: 100px;
  position: relative;
  margin: 0 auto;
  top: 600px;

}

.wheel {
  width: 75px;
  height: 75px;
  border-radius: 38px;
  background-color: black;



}

.main__wheel__left {
  position: relative;
  top: -32px;
  left: 30px;
  width: 83px;
  height: 83px;
  border-radius: 40px;
  border: 4px dashed black;
}

.main__wheel {
  position: relative;
  top: 51px;
  left: 190px;
  width: 83px;
  height: 83px;
  border-radius: 40px;
  border: 4px dashed black;
}



.main__platform {
  width: 250px;
  height: 25px;
  background-color: brown;
  position: relative;
  margin: 0 auto;
  top: 550px;
}


.main__crane {


  width: 350px;
  height: 600px;
  position: relative;
  left: 500px;
  top: -950px;

}



.main__column {
  position: relative;
  width: 50px;
  height: 500px;
  background-color: brown;
  top: 25px;
  left: 140px;
}

.main__mass {
  position: relative;
  width: 120px;
  height: 80px;
  top: -50px;
  left: 25px;
  border-radius: 15px 5px 0 5px;
  background-color: black;
}

.main__cabin {
  border-radius: 0px 193px 64px 0px;
  border: 20px solid #ff6550;
  height: 80px;
  background-color: blue;
  position: relative;
  top: -500px;
  left: 140px;
  width: 140px;
}

.main__arrow {
  position: relative;
  width: 500px;
  height: 40px;
  background-color: brown;
  border-radius: 100px 200px 0 0;
  top: -500px;
  left: 50px;
  z-index: 1;
}

.main__weight {
  position: relative;
  width: 20px;
  height: 100px;
  top: -590px;
  left: 500px;
  z-index: 0;
  border-right: 2px solid black;

}

.main__gak {
  position: relative;

  width: 40px;
  height: 50px;
  top: 80px;
  border-radius: 30px;
  z-index: 1;

}



.button_move {
  position: relative;
  top: -700px;
  border: 2px solid black;
  width: 100px;
  height: 20px;
  background-color: green;
  margin-bottom: 5px;
  box-shadow: 5px 5px 5px;
}

.button_moveback {
  position: relative;
  top: -700px;
  border: 2px solid black;
  width: 100px;
  height: 20px;
  background-color: green;
  margin-bottom: 5px;
  box-shadow: 5px 5px 5px;
}

.button_hookdown {
  position: relative;
  top: -700px;
  border: 2px solid black;
  width: 100px;
  height: 20px;
  background-color: green;
  margin-bottom: 5px;
  box-shadow: 5px 5px 5px;

}

.button_hookup {
  position: relative;
  top: -700px;
  border: 2px solid black;
  width: 100px;
  height: 20px;
  background-color: green;
  margin-bottom: 5px;
  box-shadow: 5px 5px 5px;
}

.button_rotate {
  position: relative;
  top: -700px;
  border: 2px solid black;
  width: 100px;
  height: 20px;
  background-color: green;
  margin-bottom: 5px;
  box-shadow: 5px 5px 5px;
}

#crane:target {

  transform: translate(50px, 0px);
  transition: all 5s ease-in-out;
}

#crane:target .main__wheel {
  transform: rotate(360deg);
  transition: all 5s ease-in-out;
}

#crane:target .main__wheel__left {
  transform: rotate(360deg);
  transition: all 5s ease-in-out;
}

#crane_back:target {
  transform: translate(-50px, 0px);
  transition: all 3s ease-in-out;
}

#crane_back:target .main__wheel {

  transform: rotate(-60deg);
  transition: all 3s ease-in-out;
}

#crane_back:target .main__wheel__left {
  transform: rotate(-60deg);
  transition: all 3s ease-in-out;
}

#hook:target .main__gak {

  transform: translate(0px, 200px);
  transition: all 5s ease-in-out;
}

#rotate:target {
  transform: rotateY(360deg);
  transition: all 5s ease-in-out;
}

#hook:target .main__weight {
  height: 300px;
  transition: all 5s ease-in-out;
}

.main__wheels:hover .main__wheel__left {
  transform: rotate(360deg);
  transition: all 5s ease-in-out;
}

.main__wheels:hover .main__wheel {
  transform: rotate(360deg);
  transition: all 5s ease-in-out;
}